extends layout

block head
  link(rel='stylesheet', href='/bin/styles/test488-index.css')

block content
  div#page
    div.cover(style="background-image: url(#{imagePath}/#{test.coverUrl})")
    include responsive
    h3.title= test.title
    p.description= test.description
    div.form
      input.input.tmt-input(type="text", placeholder="#{test.inputPlaceHolder}")
      div.btn-box
        <a class="start tmt-btn tmt-btn_m tmt-btn_positive">#{test.startText}</a>
      div.btn-box
        <a class="share tmt-btn tmt-btn_m tmt-btn_negative">#{test.shareText}</a>
    include share
    
  div#addOn.
    !{test.addOn}

block scripts
  script.
    document.querySelector("a.start").addEventListener("click", function(event) {
      event.preventDefault()
      var val = document.querySelector("input.input").value
      if (val.length <= 0) return alert("请输入你的资料")
      window.location.href = "/test488/#{test._id}/results/" + val
    })
